__pycache__/
SaveText/
API_example/
clear_vram.py
web/js/clear_vram.js
speakers
*.text
web/js/*.txt
ScriptsPerso/
civitai/NSFW_*
pickme.py
web/js/pickme.js
todo.py
video_text_generator.py
run_workflow_from_api.py
remote_nodes.py
fix_face.py